In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
iris_data = pd.read_csv('iris.csv')

In [3]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris_data.shape

(150, 6)

# Linear Regression with single feature

In [6]:
x = iris_data[['SepalLengthCm']]

In [7]:
y = iris_data[['SepalWidthCm']]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split (x,y, test_size = 0.3)

In [10]:
x_train.head()

    SepalLengthCm
7             5.0
5             5.4
75            6.6
12            4.8
6             4.6

In [11]:
x_test.head()

     SepalLengthCm
43             5.0
87             6.3
82             5.8
129            7.2
22             4.6

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x_train, y_train)

LinearRegression()

In [16]:
y_pred = lr.predict(x_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
error = mean_squared_error(y_test, y_pred)

In [19]:
print(f'The error in the values is {error}')

The error in the values is 0.18253518642964509

In [20]:
y_test.head()

     SepalWidthCm
43            3.5
87            2.3
82            2.7
129           3.0
22            3.6

In [23]:
y_pred[0:5]

array([[3.14671201],
       [3.08634788],
       [3.10956485],
       [3.04455732],
       [3.16528559]])

# Linear Regression with multiple features

In [25]:
x = iris_data[['SepalWidthCm','PetalLengthCm','PetalWidthCm']]

In [26]:
y = iris_data[['SepalLengthCm']]

In [27]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [28]:
lr.fit(x_train, y_train)

LinearRegression()

In [29]:
y_predict = lr.predict(x_test)

In [30]:
y_test.head()

     SepalLengthCm
40             5.0
9              4.9
20             5.4
76             6.8
109            7.2

In [31]:
y_predict[0:5]

array([[4.8478936 ],
       [4.89750766],
       [5.17077328],
       [6.30571501],
       [7.00822034]])

In [32]:
mean_squared_error(y_test, y_predict)

0.14149955609593398